.input-label-input {
  text-transform: capitalize;
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
}
.input-custom-input {
  border-width: 0;
  border-bottom-width: 1px;
  width: 100%;
  padding: 0.5rem 0rem;
  opacity: 0.8;
}
.input-custom-input:focus {
  outline: none;
  opacity: 1;
  transition: all 0.3s;
}
.input-custom-input::placeholder {
  color: gray;
}
